@use "./variables";

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    background-color: variables.$color-fondo;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: variables.$fuente-primaria;
    margin: 2rem 0;
    text-transform: uppercase;
}

p {
    font-family: variables.$fuente-secundaria;
}