/* Importación de fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Oswald:wght@200..700&display=swap");


// Fuentes
$fuente-primaria: "Oswald", sans-serif;
$fuente-secundaria: "Merriweather", serif;

// Colores
$color-primario: #ab92bf;
$color-fondo: #e9e7d2;
$color-acento: #9fb9d6;
$color-enlaces: #222222;
$color-hover: #d87093;
$color-border: rgba(0, 0, 0, 0.2);

// Medidas
$text-dinamico: clamp(.9rem, 1vw, 1rem);