/* Importación de fuentes de Google */

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Oswald:wght@200..700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    background-color: #e9e7d2;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin: 2rem 0;
    text-transform: uppercase;
}

p {
    font-family: "Merriweather", serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
    min-height: 100vh;
    padding: 0 1rem;
}

.grid-container .header {
    grid-area: header;
}

.grid-container .header nav img {
    width: 190px;
    margin: 0;
}

.grid-container header nav ul li a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.grid-container header nav ul li a:hover {
    color: palevioletred;
}

/* Estilos Inicio */

.grid-container .main-content {
    grid-area: main;
}

.grid-container .main-content .hero {
    margin: 2rem 0;
}

.grid-container .main-content .feature {
    margin: 4rem 0;
    width: 100%;
    color: white;

    --r: 40px;
    background: #ab92bf;
    border-radius: var(--r) 0/calc(2*var(--r)) 0;
    padding-block: var(--r);
    --_m: #0000 100%, #000 calc(100% + 1px);
    mask:
        conic-gradient(#000 0 0) content-box,
        radial-gradient(var(--r) at 100% 100%, var(--_m)) 0 100% no-repeat,
        radial-gradient(var(--r) at 0 0, var(--_m)) 100% 0 no-repeat;
    mask-size: var(--r) var(--r);
}

.grid-container .main-content .feature-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.grid-container .main-content .feature .feature-item {
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    width: 300px;
    line-height: 2rem;
}

.grid-container .main-content section .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 1rem;
}

.grid-container .main-content section .card-container .card-item {
    background-color: #f4f7f6;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 280px;
    max-width: 320px;
    border-left: 8px solid #9fb9d6;
}

.grid-container .main-content .display {
    width: 80vw;
    background-color: #ab92bf;
    padding: 2rem;
    margin: 3rem auto;
    color: white;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
}

.grid-container .main-content .display h2 {
    border-bottom: 1px solid white;
    line-height: 4rem;
    margin: 0;
}

.grid-container .main-content .display .display-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.grid-container .main-content .display .display-container .display-item {
    width: 300px;
}


.grid-container .footer {
    grid-area: footer;
    margin-top: 4rem;
}

.grid-container .footer .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container .footer .newsletter .newsletter-item .newsletter-item-img img {
    width: 300px;
}

.grid-container .footer .newsletter .newsletter-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.grid-container .footer .newsletter .newsletter-form .newsletter-form-suscribe {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.grid-container .footer .newsletter .newsletter-form .newsletter-form-suscribe h4 {
    margin-bottom: 3rem;
}

.grid-container .footer .newsletter .newsletter-form .newsletter-form-suscribe input {
    border: none;
    border-radius: 3px;
    margin: .5rem 0;
}


.grid-container .footer .newsletter .newsletter-form .newsletter-form-suscribe button {
    border: none;
    border-radius: 3px;
    width: 100px;
    padding: .3rem 0;
    background-color: rgb(40, 85, 230);
    color: white;
}

.grid-container .footer .newsletter .newsletter-form .newsletter-form-suscribe button:hover {
    background-color: rgb(26, 65, 190);
}

.grid-container .footer .newsletter .newsletter-item p {
    margin-top: 3rem;
}

.grid-container .footer .newsletter .newsletter-item p {
    font-size: .8rem;
}


/* Guadalajara de Noche */

.grid-container .main-content .hero-gdl-noche .card div p {
    font-size: clamp(.9rem, 1.2vw, 1rem);
    line-height: 1.7rem;
}

.grid-container .main-content .container-gdl-noche .card-gdl-noche {
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid #cecece;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: fit-content;
}

.grid-container .main-content .container-gdl-noche .card-gdl-noche img {
    display: block;
    width: 500px;
    height: auto;
}

.grid-container .main-content .container-gdl-noche .card-gdl-noche p {
    width: 300px;
    line-height: 1.7rem;
    font-size: clamp(.9rem, 1vw, 1rem);
}


/* Mejores Tours */

.grid-container .main-content .grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "portafolio1 portafolio2 portafolio3"
    "portafolio4 portafolio4 portafolio5"
    "portafolio4 portafolio4 portafolio6"
    "portafolio7 portafolio7 portafolio7"
    ;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}

.grilla div{
    position: relative;
}

.grilla div::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
}

.grilla > div:hover{
    cursor: pointer;
}

.grilla > div:hover::after {
    opacity: 1;
}

.grilla div:first-child{
    grid-area: portafolio1;
}

.grilla div:nth-child(2){
    grid-area: portafolio2;
}

.grilla div:nth-child(3){
    grid-area: portafolio3;
}

.grilla div .text-content {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    opacity: 0;
    font-size: clamp(.8rem, .9vw, 1rem);
}

.grilla div:hover .text-content{
    opacity: 1;
}

.grilla div:nth-child(4){
    grid-area: portafolio4;
}

.grilla div:nth-child(5){
    grid-area: portafolio5;
}

.grilla div:nth-child(6) {
    grid-area: portafolio6;
}


.grilla div:last-child{
    grid-area: portafolio7;
}

.grilla div img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}


/* Qué ver */

.container-que-ver {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.container-que-ver .text-content {
    width: 400px;
    background-color: #ab92bf;
    padding: 2rem;
    color: white;
}

.container-que-ver .text-content h3 {
    text-decoration: underline;
}
.container-que-ver .text-content p {
    line-height: 2rem;
}

.container-que-ver video {
    width: 400px;
}

/* Qué comer */

.grid-container .main-content {
    max-width: 90vw;
}

.grid-container .main-content .container-2 {
    height: 80vh;
    position: relative;
}

.grid-container .main-content .container .container-que-comer-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 70vh;
}

.grid-container .main-content .container .container-que-comer-1 img {
    width: 400px;
}

.grid-container .main-content .container .container-que-comer-1 .text-content {
    width: 400px;
    background-color: whitesmoke;
    padding: 2rem;
    border: 8px solid black;
}

.grid-container .main-content .container .bg-que-ver {
    position: absolute;
    background-color: #ab92bf;
    width: 500px;
    height: 650px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container .main-content .container .container-que-comer-2 {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.grid-container .main-content .container .container-que-comer-2 img {
    display: block;
    width: 500px;
    object-fit: cover;
}

.grid-container .main-content .container .container-que-comer-2 .text-content {
    width: 500px;
    line-height: 1.7rem;
    font-size: clamp(.9rem, 1vw, 1rem);
    background-color: #9fb9d6;
    border: 8px solid black;
    padding: 1.5rem;
}


/* Media queries */

@media (max-width: 991px) {


    .grid-container .header nav img {
        width: 150px;
    }

    .grid-container .main-content .container-gdl-noche .card-gdl-noche img {
        width: 100%;
    }

    .grid-container .main-content .container-gdl-noche .card-gdl-noche p {
        width: 100%;
    }

    .grid-container .main-content .grilla{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "portafolio1 portafolio2"
        "portafolio3 portafolio4"
        "portafolio5 portafolio6"
        "portafolio7 portafolio7"
        ;
        margin-bottom: 4rem;
    }

    .grid-container .main-content .container-2 {
        margin-bottom: 30rem;
    }

    .grid-container .main-content .container .bg-que-ver {
        height: 1000px;
        top: 80%;
    }

    .grid-container .main-content .container .container-que-comer-1 {
        flex-direction: column;
        align-items: center;
    }

    .grid-container .main-content .container .container-que-comer-2 {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 767px) {

    .grid-container .main-content .grilla{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "portafolio1"
        "portafolio2"
        "portafolio3"
        "portafolio4"
        "portafolio5"
        "portafolio6"
        "portafolio7"
        ;
    }
}

@media (max-width: 576px) {

    .grid-container .header nav img {
        width: 130px;
    }

    .container-que-ver video {
    width: 300px;
    }

    .container-que-ver .text-content {
    width: 300px;
    }

    .grid-container .main-content .container .container-que-comer-1 img {
    width: 300px;
    }

    .grid-container .main-content .container .container-que-comer-1 .text-content {
    width: 300px;
    }

    .grid-container .main-content .container .bg-que-ver {
        width: 350px;
    }

    .grid-container .main-content .container .container-que-comer-2 img {
        width: 300px;
    }

    .grid-container .main-content .container .container-que-comer-2 .text-content {
        width: 300px;
    }

    .grid-container .main-content .container-gdl-noche .card-gdl-noche {
        width: 100%;
    }
    
    .grid-container .main-content .container-gdl-noche .card-gdl-noche img {
        width: 100%;
    }

    .grid-container .main-content .container-gdl-noche .card-gdl-noche p {
        width: 100%;
    }

}