@use "../base/variables";
@use "../utils/extends";
@use "sass:map";
@use "../utils/maps";

/* Mejores Tours */

.grilla{
    display: map.get(maps.$display, grid);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "portafolio1 portafolio2 portafolio3"
    "portafolio4 portafolio4 portafolio5"
    "portafolio4 portafolio4 portafolio6"
    "portafolio7 portafolio7 portafolio7"
    ;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;

    div{
        position: relative;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            z-index: 1;
        }

        &:first-child{
            grid-area: portafolio1;
        }

        &:nth-child(2){
            grid-area: portafolio2;
        }

        &:nth-child(3){
            grid-area: portafolio3;
        }

        &:nth-child(4){
            grid-area: portafolio4;
        }

        &:nth-child(5){
            grid-area: portafolio5;
        }

        &:nth-child(6) {
            grid-area: portafolio6;
        }

        &:last-child{
            grid-area: portafolio7;
        }

        .text-content {
            @extend %position-abs-center;
            width: 250px;
            z-index: 2;
            color: white;
            opacity: 0;
            font-size: variables.$text-dinamico;
        }

        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    > div {

        &:hover{
            cursor: pointer;

            &::after {
                opacity: 1;
            }

            .text-content{
                opacity: 1;
            }

        }
    }
}