@use "../base/variables";
@use "../utils/extends";

/* Qué ver */

.container-que-ver {
    @extend %flex-wrap;

    .text-content {
        width: 400px;
        background-color: variables.$color-primario;
        padding: 2rem;
        color: white;

        h3 {
            text-decoration: underline;
        }

        p {
            line-height: 2rem;
        }

    }

    video {
        width: 400px;
    }
}